*{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url(images/foodtexcolor.jpg);
    background-size:100%;
}

.header{
    background-color: rgb(172, 16, 47) ;
    box-shadow: 0px 0px 10px black;
    /* border-radius: 0px 0px 10px 10px; */
}

.header img{
    width:80px;
    border-radius: 100%;
    padding: 10px 30px;
}

.header p{
    position: absolute;
    font-size: 70px;
    top: 12px;
    left: 180px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.header input{
    width:30vw;
    height:5vh;
    padding-left: 20px; 
    font-size: 20px;
    position: absolute;
    top: 2.5vh;
    left: 35vw;
    border-radius: 50px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px black;
}
/* .header svg{
    position:absolute;
    top:40px;
    left: 1220px;
    width: 2vw;
} */

.header ul{
    float: right;
    margin-right: 20px;
}

.header ul li{
    display: inline-block;
    line-height:80px;
    margin:5px 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.header ul li a{
    color:#000;
    font-size: 17px;
    text-transform: upper-case;
    font-size: 28px;
    text-decoration: none;
}
.header ul li a:hover{
    background: #ffffff;
    transition: 0.5s;
    border-radius: 10px;
    padding: 5px;
}

.footer{
    background-color: rgb(172, 16, 47);
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    color: aliceblue;
    text-align: center;

}
#box
{
    background-color: crimson;
    height: 100px;
    width: 200px;
    position: absolute;
    left: 0;
    border-right: 2px solid white;
}
#abt:hover
{
    background-color: whitesmoke;
    transition: 1s;
    color: black;
}
#abt
{
    background-color:rgb(172, 16, 47) ;
    border-radius: 30px;
    border: 2px solid whitesmoke;
    height: 35px;
    width: 100px;
    margin-top: 10px;
    color: whitesmoke;
    
}
#products
{
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 20px;
}
.featured
{
    background-color: antiquewhite;
    margin: 10px;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    box-shadow: 3px 5px 0px rgba(0, 0, 0, 0.3);
}
.featured:hover
{
    background-color: crimson;
    box-shadow: 3px 5px 0px black;
    transition: 0.5s;
    color: white;
    border: 1px solid white;
}